<!DOCTYPE html>
<html>
  <head>
    <title>Title of the document</title>
  </head>

  <body style="margin: 0px">
    <div class="wrapper"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/104/three.js"></script>
    <!-- <script src="https://raw.githubusercontent.com/mrdoob/three.js/master/src/Three.js"></script> -->
    <script src=" https://threejs.org/build/three.js"></script>
    <script src="https://threejsfundamentals.org/threejs/resources/threejs/r125/examples/js/controls/OrbitControls.js"></script>

    <!-- <script src="https://raw.githubusercontent.com/mrdoob/three.js/master/examples/jsm/loaders/GLTFLoader.js"></script> -->

    <!-- <script src="https://github.com/mrdoob/three.js/blob/master/examples/jsm/controls/OrbitControls.js"></script> -->
    <!-- <script src="js/OrbitControls.js"></script> -->
    <!-- <script src="https://threejsfundamentals.org/threejs/resources/threejs/r125/examples/js/loaders/MTLLoader.js"></script>
    <script src="https://threejsfundamentals.org/threejs/resources/threejs/r125/examples/js/loaders/OBJLoader.js"></script> -->
    <!-- <script src="https://threejsfundamentals.org/threejs/resources/threejs/r125/examples/js/loaders/GLTFLoader.js"></script> -->
    <!-- <script src="https://cdn.rawgit.com/mrdoob/three.js/master/examples/js/loaders/GLTFLoader.js"></script> -->
    <!-- <script src="https://raw.githubusercontent.com/mrdoob/three.js/master/examples/jsm/loaders/GLTFLoader.js"></script> -->
    <script src="js/GLTFLoader.js"></script>
    <!-- <script src="https://threejsfundamentals.org/threejs/resources/threejs/r125/examples/js/loaders/MTLoader.js"></script> -->
    
    
    <!-- <script src="https://raw.githubusercontent.com/mrdoob/three.js/master/examples/jsm/controls/OrbitControls.js"></script> -->
    <!-- <canvas id="number"></canvas> -->
    <script src="js/main.js"></script>
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/hotspot.css">

    <style>
      
    </style>
    <!-- <model-viewer id="lungs" ar-modes="webxr">
      <div class="hotspot lung1" text="lung1"></div>
      <div class="hotspot lung2" text="lung2"></div>
      <div class="hotspot lung3" text="lung3"></div>
      <div class="hotspot lung4" text="lung4"></div>

    </model-viewer> -->
    
  </body>
</html>

<!-- Import the component -->
<script
  type="module"
  src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"
></script>


<!-- Use it like any other HTML element -->
<model-viewer
  src="./models/lungs/scene.gltf"
  alt="A 3D model of an astronaut"
  auto-rotate
  camera-controls
>
<button slot="hotspot-visor" data-position="5 4 5" data-normal="0 0 1"></button>
</model-viewer>