<!DOCTYPE html>
<html>
  <head>
    <title>Title of the document</title>
  </head>

  <body style="margin: 0px">
    <div class="wrapper"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/104/three.js"></script>
    <script src=" https://threejs.org/build/three.js"></script>
    
    <script src="https://threejsfundamentals.org/threejs/resources/threejs/r125/examples/js/controls/OrbitControls.js"></script>
    <!-- <script src="https://github.com/mrdoob/three.js/blob/master/examples/jsm/controls/OrbitControls.js"></script> -->
    <!-- <script src="js/OrbitControls.js"></script> -->
    <!-- <script src="https://threejsfundamentals.org/threejs/resources/threejs/r125/examples/js/loaders/MTLLoader.js"></script>
    <script src="https://threejsfundamentals.org/threejs/resources/threejs/r125/examples/js/loaders/OBJLoader.js"></script> -->
    <script src="https://threejsfundamentals.org/threejs/resources/threejs/r125/examples/js/loaders/GLTFLoader.js"></script>
    <!-- <script src="https://threejsfundamentals.org/threejs/resources/threejs/r125/examples/js/loaders/MTLoader.js"></script> -->
   
    <script src="js/main.js"></script>
  </body>
</html>
