/* body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 1200px;
  position: relative;
}

.hotspot {
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
} */

button {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  border: none;
  background-color: blue;
  box-sizing: border-box;
}

button[slot="hotspot-hand"] {
  --min-hotspot-opacity: 0;
  background-color: red;
}

button[slot="hotspot-foot"]:not([data-visible]) {
  background-color: transparent;
  border: 3px solid blue;
}

#annotation {
  background-color: #888888;
  position: absolute;
  transform: translate(10px, 10px);
  border-radius: 10px;
  padding: 10px;
}
/* This keeps child nodes hidden while the element loads */
:not(:defined) > * {
  display: none;
}
