/* .container {
  width: 100%;
  max-width: 1200px;
  position: relative;
}

.hotspot {
  width: 20px;
  height: 20px;
  background-color: #5073ab;
  border-radius: 50%;
  position: absolute;
}

.trachea {
  left: 12%;
  bottom: 24%;
} */

button {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  border: none;
  background-color: #9d6fa3;
  box-sizing: border-box;
  animation: wave 1s infinite;
}

#annotation {
  background-color: #d8cece;
  position: absolute;
  transform: translate(10px, 10px);
  border-radius: 10px;
  padding: 10px;
}
/* This keeps child nodes hidden while the element loads */
:not(:defined) > * {
  display: none;
}

@keyframes wave {
  from {
    box-shadow: 0 0 0 0 #e7caeb;
  }
  to {
    box-shadow: 0 0 0 5px #9d6fa3;
  }
}
